body{
  margin: 0;
  font-family: 'Comic Neue', cursive;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  color: white;
  width: 100%;
  opacity: 0.83;
  background: rgb(9,17,121);

  background: linear-gradient(90deg, rgba(9,17,121,1) 1%, rgba(56,9,121,1) 15%, rgba(71,9,121,1) 30%, rgba(85,40,78,1) 44%, rgba(156,7,85,1) 63%, rgba(255,0,95,1) 79%, rgba(245,255,0,1) 100%);

z-index: 9;
}
.flex-container img{
  border-radius: 50%;
  margin-left: 500px;
}
.flex-container h1{
  font-size: 30px;
  margin-bottom: 50px;
}
.flex-container h2{
  font-size: 30px;
  font-family: serif;
}
.flex-container span{
  font-size: 40px;
}
.menu{
  list-style-type: none;
  position: sticky;
  top: 55px;
  right: 50px;
  z-index: 10;
  margin: 10px 400px;
}
.menu li{
float: left;
}
.menu a{
  display: inline-block;
  text-decoration: none;
  color: #45d7ff;
  font-size: 20px;
  padding-left: 25px;
}
.menu a:hover{
  color: #5eb4ff;
  font-size: 27px;
}
#About{
  text-align: center;
}
hr{
  width: 50%;
  height: 5px;
  background-color: black;
}
p{
  font-size: 19;
  margin: 50px auto;
  text-align: center;
  max-width: 400px
}
#videos{
  background-color: lightblue;
  padding-top: 50px;
  padding-bottom: 35px;
}
html{
  scroll-behavior: smooth;
}
h1{
  text-align: center;
}
